#product-slider a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

#product-slider .content {
  padding: 2rem 0rem;
  background-color: #00c968;
}

#product-slider h2 {
  font-size: 20px; }

#product-slider .bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    /* background-color: #f8f9fa;  */
}

#product-slider .media-29101 img {
  margin-bottom: 20px;
  padding: 20px;
}

#product-slider .media-29101 h3 {
  font-size: 24px;
  font-weight: 600 !important; 
}
  .media-29101 h3 a {
    color: white; 
}

#product-slider .owl-2-style .owl-nav {
  display: none; }

#product-slider .owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
#product-slider .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
#product-slider .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; 
    }
#product-slider .owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
#product-slider .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }

